<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head') %>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Welcome to home page</h1>
    </main>

    <footer><%- include('./layout/footer') %></footer>
  </body>
</html>
